*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f2f2f2;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
img{
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    float: left;
    width: 100%;
}
.header{
    background-color: #75c321;
}
.top-logo{
    width: 20%;
    height: 100%;
    float: left;
}
.top-logo img{
    width: 100%;
    height: 100%;
    margin: 15px;
}
.top-center{
    width: 60%;
    float: left;
}
.top-right{
    width: 20%;
    float: right;
    padding: 50px;
}
.top{
    float: left;
    width: 100%;
}
.top-center .top-seach{
    width: 100%;
    float: right;
    padding: 40px 40px 10px 60px;
}
.top-center .top-nav{
    float: left;
}
.top-nav li{
    list-style: none;
    float: left;
    padding-left: 30px;
}
.top-nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.top-nav a:hover{
    color: red;
}
.nav{
    background-color: #6aaf21;
    float: left;
    width: 100%;
}
.nav .nav-ul{
    width: 100%;
    float: left;
}
.nav-ul li{
    list-style: none;
    float: left;
    padding: 10px 20px;
}
.nav-ul #category{
    height: 100%;
    background-color: #ff9800;
}
.nav-ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    line-height: 2.0;
}
.nav-ul a:hover{
    color: #f7ee02;
}
.main{
    float: left;
    width: 100%;
}
.top-content{
    width: 60%;
    float: left;
    padding-top: 20px;
}
.top-content img{
    height: 100%;
    width: 100%;
    padding-right: 20px;
}
.top-sidebar{
    width: 40%;
    float: left;
    padding-top: 20px;
}
.top-sidebar h3{
    padding: 10px 10px;
    font-size: 18px;
    color: #ff4a81;
    line-height: 1.6;
    letter-spacing: 2;
}
.newfeed{
    width: 100%;
    float: left;
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 0.1px solid #aaaaaa;
}
.newfeed-img{
    width: 33%;
    float: left;
}
.newfeed a{
    text-decoration: none;
}

