*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.page-color{
    background-color: #f5f4f4;
    float: left;
}
#page{
    width: 1100px;
    margin: 20px auto;
    float: none;
}
img{
    width: 100%;
}
.top{
    width: 100%;
    background-color: #ffffff;
    margin: 5px;
}
.change-foods{
    float: right;
    padding: 5px;
    margin: 13px 0;
    background-color: #efebeb;
    text-align: -moz-left;
}
.black{
    width: 100%;
}
.background{
    float: left;
    margin: 15px 0;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px grey;
    text-align: center;
    height: 330px;
    overflow: hidden;
    position: relative;
}
.content{
    background: black;
    color: silver;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.background>h3{
    font-weight: 600;
    font-size: 16px;
}
.content h3{
    margin: 0;
    font-size: 18px;
}