h1{
    color: #85163d;
    text-align: center;
}
ol{
    list-style-type:none !important;
}
h4{
    line-height: 0.4;
}
body{
    background: #dbe3db;
}
div{
    border-bottom: 5px solid #85163d;
    width: 400;
}
p{
    width: 700px;
    text-indent: 5px;
}
h4{
    font-weight: 600;
}